<!-- <ion-header>
  <ion-toolbar>
    <ion-title>business</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list class="business">
    <ion-list class="business__header">
      <ion-button routerLink="/home" class="btn btn-back-blue business__button">
        <img src="../../assets/images/icon-back.png" />
      </ion-button>
      <ion-list class="business__top">
        <img class="business__img" src="../../assets/images/main-acticle.png" />
        <ion-text class="business__title">مستشفى دار السلام </ion-text>

        <ion-text class="business__desc"
          ><ion-text class="business__desc">4 </ion-text>فروع
        </ion-text>
      </ion-list>
    </ion-list>
    <ion-list class="business__content content">
      <ion-text class="content__title">الأفرع</ion-text>
      <a class="content__link" routerLink="/bs-booking">
        <ion-card class="content__card">
          <ion-list class="content__box">
            <img
              class="content__image"
              src="../../assets/images/img-acticle.png"
            />
          </ion-list>
          <ion-list class="content__info info">
            <ion-text class="info__title">مستشفى دار السلام</ion-text>
            <ion-text class="info__desc">
              منطقة الغانم <ion-text>43</ion-text> <ion-text>km</ion-text>
            </ion-text>
            <ion-list class="info__item">
              <img class="info__icon" src="../../assets/images/clock.png" />
              <ion-text class="info__time"
                >08:00AM <ion-text> - </ion-text>
                <ion-text>16.00PM</ion-text></ion-text
              >
            </ion-list>
            <ion-list class="info__item">
              <img
                class="info__icon"
                src="../../assets/images/iocn-phone-orange.png"
              />
              <ion-text class="info__phone">970599123456+</ion-text>
            </ion-list>
            <ion-button class="info__button">حجز </ion-button>
          </ion-list>
        </ion-card>
      </a>
      <a class="content__link" routerLink="/bs-booking">
        <ion-card class="content__card">
          <ion-list class="content__box">
            <img
              class="content__image"
              src="../../assets/images/img-acticle.png"
            />
          </ion-list>
          <ion-list class="content__info info">
            <ion-text class="info__title">مستشفى دار السلام</ion-text>
            <ion-text class="info__desc">
              منطقة الغانم <ion-text>43</ion-text> <ion-text>km</ion-text>
            </ion-text>
            <ion-list class="info__item">
              <img class="info__icon" src="../../assets/images/clock.png" />
              <ion-text class="info__time"
                >08:00AM <ion-text> - </ion-text>
                <ion-text>16.00PM</ion-text></ion-text
              >
            </ion-list>
            <ion-list class="info__item">
              <img
                class="info__icon"
                src="../../assets/images/iocn-phone-orange.png"
              />
              <ion-text class="info__phone">970599123456+</ion-text>
            </ion-list>
            <ion-button class="info__button">حجز </ion-button>
          </ion-list>
        </ion-card>
      </a>
      <a class="content__link" routerLink="/bs-booking">
        <ion-card class="content__card">
          <ion-list class="content__box">
            <img
              class="content__image"
              src="../../assets/images/img-acticle.png"
            />
          </ion-list>
          <ion-list class="content__info info">
            <ion-text class="info__title">مستشفى دار السلام</ion-text>
            <ion-text class="info__desc">
              منطقة الغانم <ion-text>43</ion-text> <ion-text>km</ion-text>
            </ion-text>
            <ion-list class="info__item">
              <img class="info__icon" src="../../assets/images/clock.png" />
              <ion-text class="info__time"
                >08:00AM <ion-text> - </ion-text>
                <ion-text>16.00PM</ion-text></ion-text
              >
            </ion-list>
            <ion-list class="info__item">
              <img
                class="info__icon"
                src="../../assets/images/iocn-phone-orange.png"
              />
              <ion-text class="info__phone">970599123456+</ion-text>
            </ion-list>
            <ion-button class="info__button">حجز </ion-button>
          </ion-list>
        </ion-card>
      </a>
    </ion-list>
  </ion-list>
</ion-content>
