<ion-content>
  <ion-list class="sure">
    <ion-list class="sure__item">
      <img class="sure__image" src="../../assets/images/book.png" />
      <ion-list class="sure__list">
        <ion-text class="sure__title">موعد جهة نص غير معروف</ion-text>
        <ion-text class="sure__text"
          >12 april 2020
          <!-- <ion-text class="sure__text--bold">9:30 PM</ion-text> -->
        </ion-text>
      </ion-list>
      <ion-button class="btn sure__button"
        ><img class="sure__img" src="../../assets/images/icon-close.png"
      /></ion-button>
    </ion-list>
  </ion-list>
</ion-content>
