<!-- <ion-header>
  <ion-toolbar>
    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list class="booking">
    <ion-list class="booking__header">
      <ion-button
        routerLink="/business"
        class="btn btn-back-blue booking__button"
      >
        <img src="../../assets/images/icon-back.png" />
      </ion-button>
      <ion-list class="booking__top">
        <img class="booking__img" src="../../assets/images/main-acticle.png" />
        <ion-text class="booking__title">مستشفى دار السلام </ion-text>

        <ion-text class="booking__desc"
          ><ion-text class="booking__desc">4 </ion-text>فروع
        </ion-text>
      </ion-list>
    </ion-list>
    <ion-list class="booking__content content">
      <ion-text class="content__title">تعليمات هامة</ion-text>
      <ion-text class="content__desc"
        >قبل الحجز لا بد من احضارة 2 صورة شخصية مع ضرورة وجود تأمين مع نص
        وهمي</ion-text
      >
      <ion-list class="content__list">
        <ion-list class="content__item">
          <img
            class="content__img"
            src="../../assets/images/icon-address.png"
          />
          <ion-label class="content__label">شارع الغنام</ion-label>
        </ion-list>
        <ion-list class="content__item">
          <img class="content__img" src="../../assets/images/icon-phone.png" />
          <ion-label class="content__label">7896456565</ion-label>
        </ion-list>
        <ion-list class="content__item">
          <img
            class="content__img"
            src="../../assets/images/icon-whatapp.png"
          />
          <ion-label class="content__label">7896456565</ion-label>
        </ion-list>
      </ion-list>

      <ion-list class="content__service">
        <ion-label class="content__text">نوع الخدمة</ion-label>
        <ion-button fill="clear" (click)="openModal()" class="btn--nopd content__button">
          <img
            class="content__img"
            src="../../assets/images/icon-back-black.png"
          />
        </ion-button>
      </ion-list>
      <ion-list class="content__service">
        <ion-label class="content__text">إضافة بياناتك</ion-label>
        <ion-button fill="clear" (click)="openSorry()" class="btn--nopd content__button">
          <img
            class="content__img"
            src="../../assets/images/icon-back-black.png"
          />
        </ion-button>
      </ion-list>
      <!-- routerLink="/choosedateandtime" -->
      <ion-button (click)="openModal()" class="booking__btnAct"
        >احجز الان</ion-button
      >
    </ion-list>
  </ion-list>
</ion-content>
