<ion-content class="sorryBox">
  <ion-list class="sorry">
    <ion-list class="sorry__list">
      <ion-button (click)="closeModal()" class="btn sorry__button"
        ><img class="sorry__image" src="../../assets/images/icon-close.png"
      /></ion-button>

      <ion-text class="sorry__title">تم حجز الموعد بنجاح</ion-text>
      <ion-text class="sorry__desc">الخدمة مغلقة حاليا</ion-text>

      <ion-text class="sorry__text">ساعات العمل</ion-text>
      <ion-text class="sorry__time">08.00 AM - 16.00 PM</ion-text>
      <ion-router-link href="home" class="sorry__link">العودة </ion-router-link>
    </ion-list>
  </ion-list>
</ion-content>
