<ion-content>
  <ion-list class="cancel">
    <ion-list class="cancel__item">
      <img class="cancel__image" src="../../assets/images/book-cancel.png" />
      <ion-list class="cancel__list">
        <ion-text class="cancel__title">موعد جهة نص غير معروف</ion-text>
        <ion-text class="cancel__text"
          >12 april 2020
          <ion-text class="cancel__text--bold">9:30 PM</ion-text>
        </ion-text>
      </ion-list>
      <ion-button class="btn cancel__button"
        ><img class="cancel__img" src="../../assets/images/icon-close.png"
      /></ion-button>
    </ion-list>
  </ion-list>
</ion-content>
