<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar>
  <ion-button fill="clear" class="btn btn--back" href="/home" slot="start">
    <!-- <ion-back-button defaultHref="home"> -->
    <img src="../../assets/images/icon-back-black.png" />
    <!-- </ion-back-button> -->
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-list class="login">
    <img class="login__image" src="../../assets/images/logo.png" />
    <ion-text class="login__title">تسجيل الدخول لحسابك</ion-text>

    <ion-input
      type="text"
      class="input input--id"
      placeholder="الايميل"
    ></ion-input>
    <ion-input
      type="password"
      class="input input--pass"
      placeholder="كلمة المرور "
    ></ion-input>
    <ion-router-link class="login__forgot">نسيت كلمة المرور؟</ion-router-link>

    <ion-button href="/home" class="login__button butAct butAct-bg--blue"
      >سجل دخولك</ion-button
    >

    <ion-text class="login__or">أو</ion-text>

    <ion-list class="login__social social">
      <ion-text class="social__title">سجل دخول</ion-text>
      <ion-list class="social__list">
        <ion-item lines="none" class="social__item">
          <ion-router-link class="social__link">
            <img
              class="social__img"
              src="../../assets/images/icon-tw-big.png"
            />
          </ion-router-link>
        </ion-item>
        <ion-item lines="none" class="social__item">
          <ion-router-link class="social__link">
            <img class="social__img" src="../../assets/images/icon-f-big.png" />
          </ion-router-link>
        </ion-item>
        <ion-item lines="none" class="social__item">
          <ion-router-link class="social__link">
            <img
              class="social__img"
              src="../../assets/images/icon-gg-big.png"
            />
          </ion-router-link>
        </ion-item>
      </ion-list>
      <ion-text>
        <ion-text class="login__reg">لا تمتلك حساب؟</ion-text>
        <ion-router-link href="/reg" class="login__sigup"
          >أنشئ حساب جديد</ion-router-link
        >
      </ion-text>
    </ion-list>
  </ion-list>
</ion-content>
