.tab {
  &__label {
    font-size: 14px;
    color: var(--fullBlack);
  }
  &__button {
    background: var(--white);
  }
  // svg path {
  //   fill: var(--gray);
  // }
}
.tab-selected {
  border-bottom: 1px solid var(--blue2);
}
