<ion-content>
  <ion-list class="home">
    <div class="home__banner">
      <ion-text class="home__title">مرحبا بك , عبد الله </ion-text>
      <ion-list class="home__search">
        <ion-button class="home__button">
          <img
            class="img img--filter"
            src="../../assets/images/icon-filter.png"
          />
        </ion-button>
        <ion-input class="home__input" placeholder="ابحث هنا"></ion-input>
      </ion-list>
    </div>
    <ion-list class="home__acticle acticle">
      <ion-text class="acticle__title">التصنيفات</ion-text>
      <ion-list class="acticle__list">
        <ion-list class="acticle__item-list">
          <ion-button class="acticle__item acticle__active">
            <img
              class="acticle__img"
              src="../../assets/images/icon-hospital-pick.png"
            />
          </ion-button>
          <ion-label class="acticle__label">صحة</ion-label>
        </ion-list>

        <ion-list class="acticle__item-list">
          <ion-button class="acticle__item">
            <img
              class="acticle__img"
              src="../../assets/images/icon-supermarket.png"
            />
          </ion-button>
          <ion-label class="acticle__label">تسوق</ion-label>
        </ion-list>

        <ion-list class="acticle__item-list">
          <ion-button class="acticle__item">
            <img
              class="acticle__img"
              src="../../assets/images/icon-bank-card.png"
            />
          </ion-button>
          <ion-label class="acticle__label">أموال</ion-label>
        </ion-list>

        <ion-list class="acticle__item-list">
          <ion-button class="acticle__item">
            <img class="acticle__img" src="../../assets/images/icon-food.png" />
          </ion-button>
          <ion-label class="acticle__label">مطاعم</ion-label>
        </ion-list>

        <ion-list class="acticle__item-list">
          <ion-button class="acticle__item">
            <img
              class="acticle__img"
              src="../../assets/images/icon-enjoy.png"
            />
          </ion-button>
          <ion-label class="acticle__label">ترفيه</ion-label>
        </ion-list>

        <ion-list class="acticle__item-list">
          <ion-button class="acticle__item">
            <img
              class="acticle__img"
              src="../../assets/images/icon-hospital.png"
            />
          </ion-button>
          <ion-label class="acticle__label">وزارات</ion-label>
        </ion-list>
      </ion-list>
    </ion-list>

    <ion-list class="cards">
      <ion-card href="business" class="cards__item-list">
        <img class="cards__img" src="../../assets/images/img-acticle.png" />
        <ion-label class="cards__label"> دار السلام </ion-label>
      </ion-card>
      <ion-card href="business" class="cards__item-list">
        <img class="cards__img" src="../../assets/images/img-acticle.png" />
        <ion-label class="cards__label"> دار السلام </ion-label>
      </ion-card>
      <ion-card href="business" class="cards__item-list">
        <img class="cards__img" src="../../assets/images/img-acticle.png" />
        <ion-label class="cards__label"> دار السلام </ion-label>
      </ion-card>
      <ion-card href="business" class="cards__item-list">
        <img class="cards__img" src="../../assets/images/img-acticle.png" />
        <ion-label class="cards__label"> دار السلام </ion-label>
      </ion-card>
      <ion-card href="business" class="cards__item-list">
        <img class="cards__img" src="../../assets/images/img-acticle.png" />
        <ion-label class="cards__label"> دار السلام </ion-label>
      </ion-card>
      <ion-card href="business" class="cards__item-list">
        <img class="cards__img" src="../../assets/images/img-acticle.png" />
        <ion-label class="cards__label"> دار السلام </ion-label>
      </ion-card>
    </ion-list>
  </ion-list>
</ion-content>
