.reg {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 44px 15px 0 15px;
  &__image {
    margin-bottom: 40px;
    max-width: 100%;
  }
  &__title {
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    margin-bottom: 25px;
  }
  &__list-check {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
  }
  &__forgot-text {
    font-size: 12px;
    color: var(--black);
    margin-right: 10px;
    // font-weight: 600;
    // margin-top: 12px;
    // margin-left: auto;
    // margin-bottom: 45px;
  }
  &__button {
    margin-bottom: 20px;
  }
  &__or {
    font-size: 15px;
    color: var(--black);
    background: #fff;
    position: relative;
    font-family: "Cairo", sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      border-bottom: 1px solid var(--line-gray);
      top: 11px;
      left: 0;
    }
    &::before {
      position: absolute;
      content: "أو";
      font-size: 15px;
      color: var(--black);
      background: #fff;
      width: 30px;
      height: 30px;
      top: 0;
      left: 49%;
      z-index: 1;
    }
  }
  &__show {
    position: absolute;
    content: "";
    width: 16px;
    height: 11px;
    left: 28px;
    background: url(../../assets/images/icon-show-pass.png);
  }
  &__social {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__reg {
    color: var(--black);
    font-size: 14px;
    margin-left: 10px;
  }
  &__sigup {
    color: var(--orange);
    font-size: 14px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    text-decoration: none;
  }
}

.social {
  &__title {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  &__item {
    width: 100%;
    height: 100%;
  }
  &__img {
    max-width: 100%;
    display: block;
    width: 40px;
  }
}
