.confirm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 11px 15px 0 15px;
  text-align: center;
  &__list {
    width: 255px;
    height: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    border-radius: 25px;
  }
  &__image {
    max-width: 100%;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 18px;
    color: var(--fullBlack);
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &__link {
    font-size: 14px;
    color: var(--blue2);
  }
}

.time {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__col {
    height: 26px;
    width: 62px;
    --inner-padding-end: 0;
    position: relative;

    &::part(native) {
      padding: 0;
    }
  }
  &__input {
    // position: absolute;
    margin: 0;
    opacity: 0;
  }
  &__label {
    display: inline-block;
    direction: ltr;
    position: absolute;
    height: 26px;
    width: 62px;
    line-height: 26px;
    top: 0;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: var(--fullBlack);
    &--active {
      color: #fff;
      background: var(--orange);
    }
    &--gray {
      color: var(--gray);
    }
  }
}
