<ion-list class="popover">
  <ion-list class="popover__arrow">
    <ion-list class="popover__item">
      <ion-button class="btn popover__button">
        <img class="popover__icon" src="../../../assets/images/icon-edit.png" />
      </ion-button>
      <ion-text class="popover__text">تعديل الحجز</ion-text>
    </ion-list>
   
    <ion-list class="popover__item">
      <ion-button class="btn popover__button">
        <img class="popover__icon" src="../../../assets/images/icon-can.png" />
        
      </ion-button>
      <ion-text class="popover__text">الغاء  الحجز</ion-text>
    </ion-list>
    <ion-list class="popover__item">
      <ion-button class="btn popover__button">
        <img class="popover__icon" src="../../../assets/images/icon-del.png" />
        
      </ion-button>
      <ion-text class="popover__text">إزالة من القائمة</ion-text>
    </ion-list>
  </ion-list>
</ion-list>