<ion-content>
  <ion-list class="popup">
    <ion-list class="popup__grline">
      <ion-label class="popup__line"></ion-label>
    </ion-list>

    <ion-list class="popup__item">
      <img class="popup__icon" src="../../../assets/images/icon-rec.png" />
      <ion-text class="popup__title">اختار الخدمة</ion-text>
    </ion-list>
    <ion-list class="popup__list">
      <ion-checkbox
        mode="md"
        class="popup__checkbox"
        checked="true"
      ></ion-checkbox>
      <ion-checkbox mode="md" class="popup__checkbox"></ion-checkbox>
      <ion-checkbox mode="md" class="popup__checkbox"></ion-checkbox>
      <ion-checkbox mode="md" class="popup__checkbox"></ion-checkbox>
    </ion-list>
    <ion-button
      fill="clear"
      (click)="closeModal()"
      class="popup__button login__button butAct butAct-bg--blue"
      >استمر</ion-button
    >
  </ion-list>
</ion-content>
