/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.btn {
  --background: none;
  --box-shadow: none;
  --border: unset;
  --background-activated: none;
}

.input {
  height: 46px;
  max-height: 46px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--gray);
  margin-bottom: 18px;
  // padding: 13px 56px 13px 28px !important;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  // --padding-bottom: 0;
  // --padding-top: 0;
  --padding-top: 13px;
  --padding-start: 56px;
  --padding-bottom: 13px;
  --padding-end: 28px;

  &--id {
    color: var(--black);

    &::after {
      position: absolute;
      content: "";
      width: 19px;
      height: 13px;
      right: 28px;
      background: url(../src/assets/images/icon-email.png);
    }
  }
  &--tel {
    color: var(--black);

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      right: 28px;
      background: url(../src/assets/images/icon-phone.png);
    }
  }
  &--pass {
    color: var(--text-pink);

    &::after {
      position: absolute;
      content: "";
      width: 21px;
      height: 21px;
      right: 28px;
      background: url(../src/assets/images/icon-pass.png);
    }
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 11px;
      left: 28px;
      background: url(../src/assets/images/icon-show-pass.png);
    }
  }
}
.butAct {
  height: 46px;
  font-size: 15px;

  // font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  width: 100%;
  --border-radius: 50px;
  text-transform: uppercase;
  &-bg--blue {
    --background: var(--blue);
  }
  &-bg--blue2 {
    --background: var(--blue2);
  }
}

.myPopup {
  --height: 54%;
  --max-height: 100%;
  --width: 100%;
  align-items: flex-end;
  & .modal-wrapper {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

.mySorry {
  --height: 54%;
  --max-height: 100%;
  --width: 100%;
  --background: none;
  --backdrop-opacity: none;
  // align-items: flex-end;
  // & .modal-wrapper {
  //   border-top-left-radius: 25px;
  //   border-top-right-radius: 25px;
  // }
}
.waiting .switch-btn {
  color: #464646 !important;
}

.waiting .arrow-dropdown,
.choose .arrow-dropdown {
  display: none;
}
// .waiting .title,
// .choose .title {
//   display: flex;
//   align-items: center;
// }

// .waiting .back {
//   left: 0;
//   right: -80px;
//   width: 20px !important;
//   height: 20px;

//   border-radius: 50%;
//   min-height: 20px !important;
//   color: #00a7df !important;
//   background: #e6f2f5;
// }

// .waiting .forward {
//   margin-left: -40px;
//   right: 42px !important;
//   width: 20px !important;
//   height: 20px;
//   border-radius: 50%;
//   min-height: 20px !important;
//   color: #00a7df !important;
//   background: #e6f2f5;
// }

// .choose .back {
//   left: 0;
//   right: -50px;
//   width: 20px !important;
//   height: 20px;

//   border-radius: 50%;
//   min-height: 20px !important;
//   color: #b5b5b5 !important;
//   background: #e6f2f5;
// }

// .choose .forward {
//   margin-left: -40px;
//   right: 10px !important;
//   width: 20px !important;
//   height: 20px;
//   border-radius: 50%;
//   min-height: 20px !important;
//   color: #b5b5b5 !important;
//   background: #e6f2f5;
// }

// change font and size time calendar
.choose button.days-btn {
  width: 22px !important;
  height: 22px !important;
  p {
    font-size: 12px !important;
  }
}
// .choose .days .on-selected {

// }

.waiting .transparent .week-title {
  color: #696969 !important;
}

.waiting .days .days-btn p {
  color: #fff !important;
}

.waiting .days button.days-btn[disabled] p {
  color: rgba(0, 0, 0, 0.25) !important;
}

.waiting .days .on-selected {
  background: var(--white) !important;
}
.waiting .days .on-selected p {
  color: var(--blue2) !important;
}

.myPopover {
  // --width: 120px;
  // --height: 90px;
  // top: -227px !important;
  // left: -100px !important;
  .popover-content {
    --width: 120px;
    --height: 90px;
    bottom: 100px;
    left: 28px !important;
    top: unset !important;
    --backgound: none;
    --box-shadow: none;
  }
}
